.progresscircle {
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative; }
  .progresscircle:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 7px solid #eee;
    position: absolute;
    top: 0;
    left: 0; }
  .progresscircle > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1; }
  .progresscircle .progresscircle-left {
    left: 0; }
  .progresscircle .progresscircle-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 7px;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: #007bff; }
  .progresscircle .progresscircle-left .progresscircle-bar {
    left: 100%;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left; }
  .progresscircle .progresscircle-right {
    right: 0; }
    .progresscircle .progresscircle-right .progresscircle-bar {
      left: -100%;
      border-top-left-radius: 75px;
      border-bottom-left-radius: 75px;
      border-right: 0;
      -webkit-transform-origin: center right;
      transform-origin: center right; }
  .progresscircle .progresscircle-value {
    display: flex;
    border-radius: 50%;
    font-size: 36px;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 300; }
    .progresscircle .progresscircle-value div {
      margin-top: 10px; }
    .progresscircle .progresscircle-value span {
      font-size: 12px;
      text-transform: uppercase; }

/* This for loop creates the 	necessary css animation names 
Due to the split circle of progresscircle-left and progress right, we must use the animations on each side. 
*/
.progresscircle[data-percentage="1"] .progresscircle-right .progresscircle-bar {
  animation: loading-1 1s linear forwards; }
.progresscircle[data-percentage="1"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="2"] .progresscircle-right .progresscircle-bar {
  animation: loading-2 1s linear forwards; }
.progresscircle[data-percentage="2"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="3"] .progresscircle-right .progresscircle-bar {
  animation: loading-3 1s linear forwards; }
.progresscircle[data-percentage="3"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="4"] .progresscircle-right .progresscircle-bar {
  animation: loading-4 1s linear forwards; }
.progresscircle[data-percentage="4"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="5"] .progresscircle-right .progresscircle-bar {
  animation: loading-5 1s linear forwards; }
.progresscircle[data-percentage="5"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="6"] .progresscircle-right .progresscircle-bar {
  animation: loading-6 1s linear forwards; }
.progresscircle[data-percentage="6"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="7"] .progresscircle-right .progresscircle-bar {
  animation: loading-7 1s linear forwards; }
.progresscircle[data-percentage="7"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="8"] .progresscircle-right .progresscircle-bar {
  animation: loading-8 1s linear forwards; }
.progresscircle[data-percentage="8"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="9"] .progresscircle-right .progresscircle-bar {
  animation: loading-9 1s linear forwards; }
.progresscircle[data-percentage="9"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="10"] .progresscircle-right .progresscircle-bar {
  animation: loading-10 1s linear forwards; }
.progresscircle[data-percentage="10"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="11"] .progresscircle-right .progresscircle-bar {
  animation: loading-11 1s linear forwards; }
.progresscircle[data-percentage="11"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="12"] .progresscircle-right .progresscircle-bar {
  animation: loading-12 1s linear forwards; }
.progresscircle[data-percentage="12"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="13"] .progresscircle-right .progresscircle-bar {
  animation: loading-13 1s linear forwards; }
.progresscircle[data-percentage="13"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="14"] .progresscircle-right .progresscircle-bar {
  animation: loading-14 1s linear forwards; }
.progresscircle[data-percentage="14"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="15"] .progresscircle-right .progresscircle-bar {
  animation: loading-15 1s linear forwards; }
.progresscircle[data-percentage="15"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="16"] .progresscircle-right .progresscircle-bar {
  animation: loading-16 1s linear forwards; }
.progresscircle[data-percentage="16"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="17"] .progresscircle-right .progresscircle-bar {
  animation: loading-17 1s linear forwards; }
.progresscircle[data-percentage="17"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="18"] .progresscircle-right .progresscircle-bar {
  animation: loading-18 1s linear forwards; }
.progresscircle[data-percentage="18"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="19"] .progresscircle-right .progresscircle-bar {
  animation: loading-19 1s linear forwards; }
.progresscircle[data-percentage="19"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="20"] .progresscircle-right .progresscircle-bar {
  animation: loading-20 1s linear forwards; }
.progresscircle[data-percentage="20"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="21"] .progresscircle-right .progresscircle-bar {
  animation: loading-21 1s linear forwards; }
.progresscircle[data-percentage="21"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="22"] .progresscircle-right .progresscircle-bar {
  animation: loading-22 1s linear forwards; }
.progresscircle[data-percentage="22"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="23"] .progresscircle-right .progresscircle-bar {
  animation: loading-23 1s linear forwards; }
.progresscircle[data-percentage="23"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="24"] .progresscircle-right .progresscircle-bar {
  animation: loading-24 1s linear forwards; }
.progresscircle[data-percentage="24"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="25"] .progresscircle-right .progresscircle-bar {
  animation: loading-25 1s linear forwards; }
.progresscircle[data-percentage="25"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="26"] .progresscircle-right .progresscircle-bar {
  animation: loading-26 1s linear forwards; }
.progresscircle[data-percentage="26"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="27"] .progresscircle-right .progresscircle-bar {
  animation: loading-27 1s linear forwards; }
.progresscircle[data-percentage="27"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="28"] .progresscircle-right .progresscircle-bar {
  animation: loading-28 1s linear forwards; }
.progresscircle[data-percentage="28"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="29"] .progresscircle-right .progresscircle-bar {
  animation: loading-29 1s linear forwards; }
.progresscircle[data-percentage="29"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="30"] .progresscircle-right .progresscircle-bar {
  animation: loading-30 1s linear forwards; }
.progresscircle[data-percentage="30"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="31"] .progresscircle-right .progresscircle-bar {
  animation: loading-31 1s linear forwards; }
.progresscircle[data-percentage="31"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="32"] .progresscircle-right .progresscircle-bar {
  animation: loading-32 1s linear forwards; }
.progresscircle[data-percentage="32"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="33"] .progresscircle-right .progresscircle-bar {
  animation: loading-33 1s linear forwards; }
.progresscircle[data-percentage="33"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="34"] .progresscircle-right .progresscircle-bar {
  animation: loading-34 1s linear forwards; }
.progresscircle[data-percentage="34"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="35"] .progresscircle-right .progresscircle-bar {
  animation: loading-35 1s linear forwards; }
.progresscircle[data-percentage="35"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="36"] .progresscircle-right .progresscircle-bar {
  animation: loading-36 1s linear forwards; }
.progresscircle[data-percentage="36"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="37"] .progresscircle-right .progresscircle-bar {
  animation: loading-37 1s linear forwards; }
.progresscircle[data-percentage="37"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="38"] .progresscircle-right .progresscircle-bar {
  animation: loading-38 1s linear forwards; }
.progresscircle[data-percentage="38"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="39"] .progresscircle-right .progresscircle-bar {
  animation: loading-39 1s linear forwards; }
.progresscircle[data-percentage="39"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="40"] .progresscircle-right .progresscircle-bar {
  animation: loading-40 1s linear forwards; }
.progresscircle[data-percentage="40"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="41"] .progresscircle-right .progresscircle-bar {
  animation: loading-41 1s linear forwards; }
.progresscircle[data-percentage="41"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="42"] .progresscircle-right .progresscircle-bar {
  animation: loading-42 1s linear forwards; }
.progresscircle[data-percentage="42"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="43"] .progresscircle-right .progresscircle-bar {
  animation: loading-43 1s linear forwards; }
.progresscircle[data-percentage="43"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="44"] .progresscircle-right .progresscircle-bar {
  animation: loading-44 1s linear forwards; }
.progresscircle[data-percentage="44"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="45"] .progresscircle-right .progresscircle-bar {
  animation: loading-45 1s linear forwards; }
.progresscircle[data-percentage="45"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="46"] .progresscircle-right .progresscircle-bar {
  animation: loading-46 1s linear forwards; }
.progresscircle[data-percentage="46"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="47"] .progresscircle-right .progresscircle-bar {
  animation: loading-47 1s linear forwards; }
.progresscircle[data-percentage="47"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="48"] .progresscircle-right .progresscircle-bar {
  animation: loading-48 1s linear forwards; }
.progresscircle[data-percentage="48"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="49"] .progresscircle-right .progresscircle-bar {
  animation: loading-49 1s linear forwards; }
.progresscircle[data-percentage="49"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="50"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="50"] .progresscircle-left .progresscircle-bar {
  animation: 0; }

.progresscircle[data-percentage="51"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="51"] .progresscircle-left .progresscircle-bar {
  animation: loading-1 1s linear forwards 1s; }

.progresscircle[data-percentage="52"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="52"] .progresscircle-left .progresscircle-bar {
  animation: loading-2 1s linear forwards 1s; }

.progresscircle[data-percentage="53"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="53"] .progresscircle-left .progresscircle-bar {
  animation: loading-3 1s linear forwards 1s; }

.progresscircle[data-percentage="54"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="54"] .progresscircle-left .progresscircle-bar {
  animation: loading-4 1s linear forwards 1s; }

.progresscircle[data-percentage="55"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="55"] .progresscircle-left .progresscircle-bar {
  animation: loading-5 1s linear forwards 1s; }

.progresscircle[data-percentage="56"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="56"] .progresscircle-left .progresscircle-bar {
  animation: loading-6 1s linear forwards 1s; }

.progresscircle[data-percentage="57"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="57"] .progresscircle-left .progresscircle-bar {
  animation: loading-7 1s linear forwards 1s; }

.progresscircle[data-percentage="58"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="58"] .progresscircle-left .progresscircle-bar {
  animation: loading-8 1s linear forwards 1s; }

.progresscircle[data-percentage="59"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="59"] .progresscircle-left .progresscircle-bar {
  animation: loading-9 1s linear forwards 1s; }

.progresscircle[data-percentage="60"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="60"] .progresscircle-left .progresscircle-bar {
  animation: loading-10 1s linear forwards 1s; }

.progresscircle[data-percentage="61"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="61"] .progresscircle-left .progresscircle-bar {
  animation: loading-11 1s linear forwards 1s; }

.progresscircle[data-percentage="62"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="62"] .progresscircle-left .progresscircle-bar {
  animation: loading-12 1s linear forwards 1s; }

.progresscircle[data-percentage="63"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="63"] .progresscircle-left .progresscircle-bar {
  animation: loading-13 1s linear forwards 1s; }

.progresscircle[data-percentage="64"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="64"] .progresscircle-left .progresscircle-bar {
  animation: loading-14 1s linear forwards 1s; }

.progresscircle[data-percentage="65"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="65"] .progresscircle-left .progresscircle-bar {
  animation: loading-15 1s linear forwards 1s; }

.progresscircle[data-percentage="66"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="66"] .progresscircle-left .progresscircle-bar {
  animation: loading-16 1s linear forwards 1s; }

.progresscircle[data-percentage="67"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="67"] .progresscircle-left .progresscircle-bar {
  animation: loading-17 1s linear forwards 1s; }

.progresscircle[data-percentage="68"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="68"] .progresscircle-left .progresscircle-bar {
  animation: loading-18 1s linear forwards 1s; }

.progresscircle[data-percentage="69"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="69"] .progresscircle-left .progresscircle-bar {
  animation: loading-19 1s linear forwards 1s; }

.progresscircle[data-percentage="70"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="70"] .progresscircle-left .progresscircle-bar {
  animation: loading-20 1s linear forwards 1s; }

.progresscircle[data-percentage="71"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="71"] .progresscircle-left .progresscircle-bar {
  animation: loading-21 1s linear forwards 1s; }

.progresscircle[data-percentage="72"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="72"] .progresscircle-left .progresscircle-bar {
  animation: loading-22 1s linear forwards 1s; }

.progresscircle[data-percentage="73"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="73"] .progresscircle-left .progresscircle-bar {
  animation: loading-23 1s linear forwards 1s; }

.progresscircle[data-percentage="74"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="74"] .progresscircle-left .progresscircle-bar {
  animation: loading-24 1s linear forwards 1s; }

.progresscircle[data-percentage="75"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="75"] .progresscircle-left .progresscircle-bar {
  animation: loading-25 1s linear forwards 1s; }

.progresscircle[data-percentage="76"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="76"] .progresscircle-left .progresscircle-bar {
  animation: loading-26 1s linear forwards 1s; }

.progresscircle[data-percentage="77"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="77"] .progresscircle-left .progresscircle-bar {
  animation: loading-27 1s linear forwards 1s; }

.progresscircle[data-percentage="78"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="78"] .progresscircle-left .progresscircle-bar {
  animation: loading-28 1s linear forwards 1s; }

.progresscircle[data-percentage="79"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="79"] .progresscircle-left .progresscircle-bar {
  animation: loading-29 1s linear forwards 1s; }

.progresscircle[data-percentage="80"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="80"] .progresscircle-left .progresscircle-bar {
  animation: loading-30 1s linear forwards 1s; }

.progresscircle[data-percentage="81"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="81"] .progresscircle-left .progresscircle-bar {
  animation: loading-31 1s linear forwards 1s; }

.progresscircle[data-percentage="82"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="82"] .progresscircle-left .progresscircle-bar {
  animation: loading-32 1s linear forwards 1s; }

.progresscircle[data-percentage="83"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="83"] .progresscircle-left .progresscircle-bar {
  animation: loading-33 1s linear forwards 1s; }

.progresscircle[data-percentage="84"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="84"] .progresscircle-left .progresscircle-bar {
  animation: loading-34 1s linear forwards 1s; }

.progresscircle[data-percentage="85"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="85"] .progresscircle-left .progresscircle-bar {
  animation: loading-35 1s linear forwards 1s; }

.progresscircle[data-percentage="86"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="86"] .progresscircle-left .progresscircle-bar {
  animation: loading-36 1s linear forwards 1s; }

.progresscircle[data-percentage="87"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="87"] .progresscircle-left .progresscircle-bar {
  animation: loading-37 1s linear forwards 1s; }

.progresscircle[data-percentage="88"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="88"] .progresscircle-left .progresscircle-bar {
  animation: loading-38 1s linear forwards 1s; }

.progresscircle[data-percentage="89"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="89"] .progresscircle-left .progresscircle-bar {
  animation: loading-39 1s linear forwards 1s; }

.progresscircle[data-percentage="90"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="90"] .progresscircle-left .progresscircle-bar {
  animation: loading-40 1s linear forwards 1s; }

.progresscircle[data-percentage="91"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="91"] .progresscircle-left .progresscircle-bar {
  animation: loading-41 1s linear forwards 1s; }

.progresscircle[data-percentage="92"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="92"] .progresscircle-left .progresscircle-bar {
  animation: loading-42 1s linear forwards 1s; }

.progresscircle[data-percentage="93"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="93"] .progresscircle-left .progresscircle-bar {
  animation: loading-43 1s linear forwards 1s; }

.progresscircle[data-percentage="94"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="94"] .progresscircle-left .progresscircle-bar {
  animation: loading-44 1s linear forwards 1s; }

.progresscircle[data-percentage="95"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="95"] .progresscircle-left .progresscircle-bar {
  animation: loading-45 1s linear forwards 1s; }

.progresscircle[data-percentage="96"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="96"] .progresscircle-left .progresscircle-bar {
  animation: loading-46 1s linear forwards 1s; }

.progresscircle[data-percentage="97"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="97"] .progresscircle-left .progresscircle-bar {
  animation: loading-47 1s linear forwards 1s; }

.progresscircle[data-percentage="98"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="98"] .progresscircle-left .progresscircle-bar {
  animation: loading-48 1s linear forwards 1s; }

.progresscircle[data-percentage="99"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="99"] .progresscircle-left .progresscircle-bar {
  animation: loading-49 1s linear forwards 1s; }

.progresscircle[data-percentage="100"] .progresscircle-right .progresscircle-bar {
  animation: loading-50 1s linear forwards; }
.progresscircle[data-percentage="100"] .progresscircle-left .progresscircle-bar {
  animation: loading-50 1s linear forwards 1s; }

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(3.6);
    transform: rotate(3.6deg); } }
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(7.2);
    transform: rotate(7.2deg); } }
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(10.8);
    transform: rotate(10.8deg); } }
@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(14.4);
    transform: rotate(14.4deg); } }
@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(18);
    transform: rotate(18deg); } }
@keyframes loading-6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(21.6);
    transform: rotate(21.6deg); } }
@keyframes loading-7 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(25.2);
    transform: rotate(25.2deg); } }
@keyframes loading-8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(28.8);
    transform: rotate(28.8deg); } }
@keyframes loading-9 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(32.4);
    transform: rotate(32.4deg); } }
@keyframes loading-10 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(36);
    transform: rotate(36deg); } }
@keyframes loading-11 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(39.6);
    transform: rotate(39.6deg); } }
@keyframes loading-12 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(43.2);
    transform: rotate(43.2deg); } }
@keyframes loading-13 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(46.8);
    transform: rotate(46.8deg); } }
@keyframes loading-14 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(50.4);
    transform: rotate(50.4deg); } }
@keyframes loading-15 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(54);
    transform: rotate(54deg); } }
@keyframes loading-16 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(57.6);
    transform: rotate(57.6deg); } }
@keyframes loading-17 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(61.2);
    transform: rotate(61.2deg); } }
@keyframes loading-18 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(64.8);
    transform: rotate(64.8deg); } }
@keyframes loading-19 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(68.4);
    transform: rotate(68.4deg); } }
@keyframes loading-20 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(72);
    transform: rotate(72deg); } }
@keyframes loading-21 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(75.6);
    transform: rotate(75.6deg); } }
@keyframes loading-22 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(79.2);
    transform: rotate(79.2deg); } }
@keyframes loading-23 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(82.8);
    transform: rotate(82.8deg); } }
@keyframes loading-24 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(86.4);
    transform: rotate(86.4deg); } }
@keyframes loading-25 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(90);
    transform: rotate(90deg); } }
@keyframes loading-26 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(93.6);
    transform: rotate(93.6deg); } }
@keyframes loading-27 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(97.2);
    transform: rotate(97.2deg); } }
@keyframes loading-28 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(100.8);
    transform: rotate(100.8deg); } }
@keyframes loading-29 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(104.4);
    transform: rotate(104.4deg); } }
@keyframes loading-30 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(108);
    transform: rotate(108deg); } }
@keyframes loading-31 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(111.6);
    transform: rotate(111.6deg); } }
@keyframes loading-32 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(115.2);
    transform: rotate(115.2deg); } }
@keyframes loading-33 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(118.8);
    transform: rotate(118.8deg); } }
@keyframes loading-34 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(122.4);
    transform: rotate(122.4deg); } }
@keyframes loading-35 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(126);
    transform: rotate(126deg); } }
@keyframes loading-36 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(129.6);
    transform: rotate(129.6deg); } }
@keyframes loading-37 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(133.2);
    transform: rotate(133.2deg); } }
@keyframes loading-38 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(136.8);
    transform: rotate(136.8deg); } }
@keyframes loading-39 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(140.4);
    transform: rotate(140.4deg); } }
@keyframes loading-40 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(144);
    transform: rotate(144deg); } }
@keyframes loading-41 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(147.6);
    transform: rotate(147.6deg); } }
@keyframes loading-42 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(151.2);
    transform: rotate(151.2deg); } }
@keyframes loading-43 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(154.8);
    transform: rotate(154.8deg); } }
@keyframes loading-44 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(158.4);
    transform: rotate(158.4deg); } }
@keyframes loading-45 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(162);
    transform: rotate(162deg); } }
@keyframes loading-46 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(165.6);
    transform: rotate(165.6deg); } }
@keyframes loading-47 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(169.2);
    transform: rotate(169.2deg); } }
@keyframes loading-48 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(172.8);
    transform: rotate(172.8deg); } }
@keyframes loading-49 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(176.4);
    transform: rotate(176.4deg); } }
@keyframes loading-50 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180);
    transform: rotate(180deg); } }
.progresscircle {
  margin-bottom: 1em; }

/*# sourceMappingURL=circle.css.map */
