#donations-thermometer {
	max-width: 250px;
	margin:auto;
	background-color: inherit;
	border: 1px solid #3BAAF5;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#donations-thermometer-minified {
	max-width: 350px; 
        margin:auto;
        background-color: inherit;
        border: 0 none;
        padding: 5px;

}

.centered {
	width: 230px;
	margin: auto;
}

.step-progress {  
  position: relative;
}

.step {
    position:absolute;
	margin-top:-10px;
	z-index:1;
	height:30px;
	width:2px;
  background-color: white;
}
.step-one{
	left:33%;
}
.step-two{
	left:66%;
}

.calltoaction {
	margin-top: 1em;
}
